.form_group{
    margin:10px 0px;
}
.form_control{
    width: 98%;
    padding:5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.form_group label{
    font-weight: bold;
    font-variant: small-caps;
}
.form_control:focus{
    background-color:yellow;
    box-shadow: 0 0 3px red;
    border: 1px solid yellow;

}
.form_button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color:orangered;
    box-shadow: inset 0 0 20px blue;
}
.form_button:hover{
    color:darkgray;
    box-shadow: inset 0 0 20px orangered;
}
.form-button:disabled{
    color:darkgray;
    box-shadow: 0 0 20px gray;
}