
*{
	margin: 0px;
	padding:0px;

}
form{
	width: 600px;
	margin: 50px auto;
    box-shadow: 0 0 1px black;
    padding:10px;
}
.row{
	padding:5px 0;

}
.row label{
	display: inline-block;
	width: 15%;
}
.row .formControl{
	width: 83%;
	height: 30px;

}
.row .formControl:forcus{
	background-color: coral;
	border:1px solid red;
	color:#fff;

}
.row label .noidung{
	display:block;
	width: 100%;
}
.row textarea{
	width:99%;
	height:70px;
}
.button{
	text-align:center;

}
.button button{
	padding:5px 15px;
	font-weight: bold;
	cursor: pointer;
	background-image: url('images/animal.png');
	background-repeat: no-repeat;
	background-position: 2px center;
}
 /*liên hệ thầy
 * {
    margin: 0;
    padding: 0;
}
form {
    width:600px;
    margin: 50px auto;
    box-shadow: 0 0 3px black;
    padding: 10px;
}
.row {
    padding: 5px 0;
}
.row label {
    display: inline-block;
    width: 15%;
}
.row .formControl {
    width: 83%;
    height: 30px;
}
.row .formControl:focus {
    background-color: coral;
    border: 1px solid blue;
    color: #fff;
}
.row label.noidung {
    display: block;    
}
.row textarea {
    width: 99%;
    height: 70px;
}
.button {
    text-align: center;
}
.button button {
    padding: 5px 15px 5px 30px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('../images/animal.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}
*/
