*{
	margin: 0px;
	padding: 0px;
}

.menu > ul > li{
	display: inline-block;
}

.menu > ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
	background-color: orangered;
	text-align: center;
}

.menu > ul > li > a{
	text-decoration: none;
	font-variant: small-caps;
	font-size: large;
	color: white;
	padding: 0 10px;
	line-height: 40px;
}
 .menu > ul > li > a:hover{
	color: yellow;
 }