*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/
.container{
	width: 100%;
	margin: 50px auto;
	background: #ddd;
}
table {
	padding-bottom: 30px;
	width: 500px;
    margin: 0 auto;
    background: #eaeaea;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid green;
}
table tr th{
	background-color: green;
} 