*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}
.container{
	width:100%;
	background-color: #f5f5f5;
}
header{
	background-color: #fff;
	line-height: 80px;
	height: 80px;
	padding: 10px 0;
}
.header{
	max-width: 1000px;
	margin: auto;
}
.logo{
	float: left;
	margin-right: 10px;
}
.form{
	float: left;
	position: relative;

}
.form .search{
	width: 230px;
	height: 30px;
}
.form input[type=image]{
    position: absolute;
	top: 28px;
	right: 4px;
}


nav{
	float:right;
}
nav li{
	display: inline-block;
}
nav a{
	display: block;
	text-decoration: none;
	color:#333;
	font-weight: bold;
	padding: 0 10px;
}
nav a:hover{
	color:red;
}
.clear{
	clear: both;
}
.blog{
	width: 860px;
	margin: auto;
	text-align: center;
	padding: 20px auto;

}
.blog h1{
	font-size: 60px;
}
.blog p{
	padding: 20px 0;
}
article{
	max-width: 900px;
	margin: 20px auto;
}
.col{
	width: 33.33%;
	float:left;
	margin-top: 10px;
}
.news {
	margin: 10px;
	background-color: white;

}
.news img{
	width: 100%;

}
.news h2{
	padding: 30px;
}
.news a {
	color:#000;
	text-decoration: none;
}
.news a:hover{
	color:orange;
}
footer{
	width: 100%;
	line-height: 100px;
	background-color: #fefe;
	text-align: center;
}