*{
	margin: 0;
	padding: 0;
}

.tracuu{
	width: 515px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #0066ff;
}

input{
	border: 1px solid gray;
	outline: none;
	border-radius: 10px;
	background-image: url('../image/11.png'); 
	background-size: 30px 30px;
	background-position: right;
	background-repeat: no-repeat;
	width: 400px;
	padding: 10px;
}

.giaithich{
	text-align: center;
}