*{
	margin:0px;
	padding:0px;
}
.container{
	max-width: 900px;
	margin: auto;
}
.menu_ngang ul li{
	display:inline-block;
}
.menu_ngang ul li a{
	text-align:none;
	text-decoration: none;
	font-variant: small-caps;
	font-size: larger;
	color:white;
	padding:0 5px;
	line-height: 40px;

}
.menu_ngang ul{
	background-color: orangered;
	text-align: center;
}
.menu_ngang ul li a:hover{
	display: inline-block;/*khi hover thì nó tạo thành khối*/
	background-color:#fff;
	color:black;
}