 body{ 
 padding:0px;
 margin:0px;
}
 .container{ 
 	max-width:1000px;
 	margin:0 auto;
}
.container > header{
 	background-image: url("sinhvien.jpg");

 	background-size:100% 100%;
 	height:auto;
 	padding-bottom:25%;
}
.container header img{
	height: auto;
	max-width: 1000px;	
}
.container > nav{ 
 	line-height:40px;
 	background-color:orangered;
 	color:white;
 	text-align:center;
 	font-variant:small-caps;
}
.container > article{ 
 	min-height:400px;
 	width:75%;
 	background-color:white;
 	float:left;
}
.container > aside{
 	min-height:400px;
 	width:25%;
 	float:right;
}
.container > footer{ 
 	border-top:5px double orangered;
 	line-height:50px;
 	background-color:lightcyan;
 	text-align:center;
 	font-variant:small-caps;
 	clear:both;
}
.container > nav > a{
 	color:white;
 	text-decoration:none;
 	margin:0 10px;
}
.container > nav > a:hover{
 	color:yellow;
 	text-decoration:underline;
}
iframe[name=page]{
	width: 100%;
	min-height: 400px;
}
/*lab08 bài 2*/
.menu_ngang ul li{
	display:inline-block;
	position:relative;

}
.menu_ngang ul li a{
	display: block;
	text-align:none;
	text-decoration: none;
	font-variant: small-caps;
	font-size: larger;
	color:white;
	padding:0 10px;
	line-height: 40px;

}
.menu_ngang ul{
	padding:0px;
	margin:0px;
	list-style: none;
	border-radius: 3px;
	background-color: orangered;
	text-align: center;
}
.menu_ngang ul li a:hover{
	background-color: black;
	display: inline-block;
	color:yellow;

}
/*menu con dọc*/
.menu_ngang ul ul{
	position:absolute;
	display: none;
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
	width: 200px;
	background-color: white;
	box-shadow: 0 0 1px gray;

}
.menu_ngang ul ul a{
	display: block;
	line-height: 30px;
	color:blue;
	width:100px;
	font-variant: small-caps;
	font-size: larger;
	padding:0 10px;


}
.menu_ngang ul li:hover ul{
	display: block;
	background-color: pink;
	color:white;
}
/*menu doc*/
.menu_doc{
	width:25%;
	line-height: 45px;
	background-color: orange;

}
.menu_doc ul{
	list-style: none;

}
.menu_doc ul li{
	border-bottom:1px solid #fff;

}
.menu_doc ul a{
	color:#fff;
	text-decoration:none;
	display: block;
	padding-left: 30px;
	/*làm icon cho menu*/
	background:url("anh/animal.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}
.menu_doc ul li a:hover{
	background-color: red;
	background-image: url('anh/flowers.png');
	background-repeat: no-repeat;
	background-position: 10px center;

}

